<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-custom-url-handler" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Custom URL Scheme Handler</name>
    <description>Handles custom URL schemes and forces external links to open in the native browser.</description>
    <keywords>cordova,url-scheme,deep-link,webview</keywords>

    <!-- Plugin Variables -->
    <variable name="URL_SCHEME" default="myapp" />
    <variable name="IOS_BUNDLE_ID" default="com.mycompany.appname" />

    <!-- JavaScript Interface -->
    <js-module src="www/CustomUrlLauncher.js" name="CustomUrlLauncher">
        <clobbers target="window.CustomUrlLauncher" />
    </js-module>

    <!-- Android Platform Implementation -->
    <platform name="android">
        <!-- Update the path to match your package structure -->
        <source-file src="src/android/CustomUrlLauncher.java" target-dir="src/com/alsalambahrain/asbblcplab/AlSalamBankJumioTest" />

        <!-- Modify AndroidManifest.xml to register the custom URL scheme -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <activity android:name="com.alsalambahrain.asbblcplab.AlSalamBankJumioTest.CustomUrlLauncherActivity"
                      android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="${URL_SCHEME}" />
                </intent-filter>
            </activity>
        </config-file>

        <!-- Inject into Cordova's configuration -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CustomUrlLauncher">
                <param name="android-package" value="com.alsalambahrain.asbblcplab.AlSalamBankJumioTest.CustomUrlLauncher" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
    </platform>

    <!-- iOS Platform Implementation -->
    <platform name="ios">
        <framework src="WebKit.framework" weak="true" />
        
        <header-file src="src/ios/CustomUrlLauncher.h" />
        <source-file src="src/ios/CustomUrlLauncher.m" />

        <!-- Register custom URL scheme in Info.plist -->
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>${URL_SCHEME}</string>
                    </array>
                    <key>CFBundleURLName</key>
                    <string>${IOS_BUNDLE_ID}</string>
                </dict>
            </array>
        </config-file>

        <!-- Inject into Cordova's configuration -->
        <config-file target="config.xml" parent="/*">
            <feature name="CustomUrlLauncher">
                <param name="ios-package" value="CustomUrlLauncher" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
    </platform>

</plugin>
